<HTML>
<head>
  <title><%= c.name %></title>
</head>
<BODY>
	<H2><%= c.name %></H2>
	<p>Address: <br>
	Street: <%= c.address.street %><br>
	Building: <%= c.address.building %><br>
	Zipcode: <%= c.address.zipcode %><br>
	</p>
	
	<p>Coordinates:<br>
	GPS Coordinates (lon.): <%= c.address.coord[0] %><br>
	GPS Coordinates (lat.): <%= c.address.coord[1] %><br>
	</p>
	<canvas>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&key=AIzaSyD5zl626hPwMY-Q0tj9f3wi7cQvtI8sf9k"></script>
        <script type="text/javascript">
            var loadMap = function() 
            {
			//	var myLatLng = {lat: <%=lat%>, lng: <%=lon%>};
				var myLatLng = {lat: <%=lat%>,lng: <%=lon%>};
                var map = new google.maps.Map(document.getElementById("map"),{
				      zoom: <%=zoom%>,
				      center: myLatLng
				}); 
				var map = new google.maps.Marker({
					position: myLatLng,
					map: map,
					title: 'OUHK'
				});
            };
            window.onload= loadMap;
        </script></canvas>
		<aside>
        	<div id="map" style="width:50%;height:50%;">
		</aside>	
	
	<p>Other Info:<br>
	Borough: <%= c.borough %><br>
	Cuisine: <%= c.cuisine %><br>
	Restaurant Id: <%= c.restaurant_id %><br>
	</p>
	<% if (c.photo!=null) {%>
	Photo: <img src="data:<%= c.photo.mimetype %>;base64,<%= c.photo.data %>">
	<% } %>
	
	<form action="/rating" method="get" id="form1"></form>
<button type="submit" form="form1" value="Submit">Rate this restaurant</button>
	<form action="/delete" method="get" id="form2"></form>
<button type="submit" form="form2" value="Submit">Delete this restaurant</button>
</BODY>
</HTML>

